<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.leebrimelow.twitter"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="10" />
    
    <permission android:name="com.leebrimelow.twitter.READ_TWITTER"
		android:protectionLevel="normal" />
 
	<permission android:name="com.leebrimelow.twitter.WRITE_TWITTER"
		android:protectionLevel="normal" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        
        <service android:name=".Twitter_Loader_Poster_Service"/>
        
        <provider android:name=".KAVE_Content_Provider"
			android:authorities="com.leebrimelow.twitter.kaveprovider"
			android:exported="true" 
			android:readPermission="com.leebrimelow.twitter.READ_TWITTER"
			android:writePermission="com.leebrimelow.twitter.WRITE_TWITTER"/>
        
        <activity android:name="com.leebrimelow.twitter.AuthActivity"/>
        
        <activity android:name=".Main"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name=".MainActivity"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN_ACTIVITY" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
              <activity android:name=".Tweets_Activity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.LAST_TWITTS" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Friends_Tweets_Activity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.FRIENDS" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".User_Timeline_Activity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.USER_TIMELINE" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Post_Tweet_Activity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.POST_TWEET_ACTIVITY" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>