<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.leebrimelow.twitter"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <permission android:name="com.leebrimelow.twitter.READ_TWITTER" android:protectionLevel="normal"/>
    <permission android:name="com.leebrimelow.twitter.WRITE_TWITTER" android:protectionLevel="normal"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
  
    <application android:icon="@drawable/icon" android:label="@string/app_name">
         
         <provider android:name="com.leebrimelow.twitter.Provider.KAVE_Content_Provider"
			android:authorities="com.leebrimelow.twitter.kaveprovider"
			android:exported="true" 
			android:readPermission="com.leebrimelow.twitter.READ_TWITTER"
			android:writePermission="com.leebrimelow.twitter.WRITE_TWITTER"/>      
               
        <service android:name="com.leebrimelow.twitter.Service.Twitter_Loader_Poster_Service"/>
        <activity android:name="com.leebrimelow.twitter.Activity.AuthActivity"/>
        
        <activity android:name="com.leebrimelow.twitter.Main"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name="com.leebrimelow.twitter.Activity.MainActivity"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN_ACTIVITY" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
              <activity android:name="com.leebrimelow.twitter.Activity.Tweets_Activity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.LAST_TWITTS" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.leebrimelow.twitter.Activity.Friends_Tweets_Activity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.FRIENDS" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.leebrimelow.twitter.Activity.User_Timeline_Activity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.USER_TIMELINE" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.leebrimelow.twitter.Activity.Post_Tweet_Activity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.POST_TWEET_ACTIVITY" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>